*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     background-color: #000;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}